@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

#heart {
    color: red;
}

body {
    background-color: #bcbec0;
  }

  header,
  .footer {
    background-color: #343a40;
    color: #fff;
  }
.nav-link {
color: white;
}
  .navbar {
    border-radius: 0;
  }

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: start;
    
  }

  .welcome-section {
    padding: 20px;
  }
  
  .welcome-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .welcome-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .about-us-section {
    padding: 20px;
  }
  
  .about-us-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-us-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about-us-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .section-heading {
    
    padding: 10px;
    margin-top: 40px;
  }

  .factsList {
    
    padding: 20px;
    list-style-type: decimal;
  }

  .factsList li {
    margin-bottom: 15px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer {
    margin: 10px;
    padding: 20px 0;
  }

  .footer .social-networks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }

  .footer .social-networks li {
    list-style: none;
    }

  .footer .social-networks a {
    font-size: 20px;
  }
  footer p {
    text-align: center;
  }

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

/* Club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Club ethos center image */

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* Gallery Photos */

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;

}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo {
        column-count: 3;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #photo {
        column-count: 2;
    }
}